.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.movie-list-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  row-gap: 10px;
  padding: 25px;
  width: 100%;
}

.movie-card {
  height: 400px;
  width: 200px;
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card .movie-image {
  height: 60%;
  width: 100%;
  margin-top: 0px;
}

.movie-card img {
  height: 100%;
  width: 100%;
  contain: fill;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.modal-overlay.active {
  visibility: visible;
  transition: opacity 0.8s ease;
}
.modal-content {
  max-height: 80%;
  max-width: 60%;
  padding: 30px;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  justify-items: center;
  overflow-y: none;
}

.modal-content img {
  max-width: 250px;
  max-height: 250px;
}

.modal-content .genres {
  display: flex;
  gap: 5px;
}
